<h1>Your BuzzwallHQ Temporary Password</h1>

<p>Here is your temporary password for BuzzwallHQ:</p>

<p><strong><%= @temp_password %></strong></p>

<p>Please change this password immediately after logging in.</p>

<p>If you didn't request this account, please contact our support team immediately.</p>