<div id="<%= dom_id buzz_term %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Term:</strong>
    <%= buzz_term.term %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= buzz_term.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Frequency check:</strong>
    <%= buzz_term.frequency_check %>
  </p>

</div>
