<div class="my-5 flex items-center justify-center gap-x-2">
  <a href="<%= root_path %>" class="rounded-full bg-white text-gray-900 hover:bg-gray-100 px-4 py-1 text-sm font-semibold shadow-sm border border-gray-400">
    Virality
  </a>
  <a href="<%= root_path %>home?landing=reviews" class="rounded-full bg-white text-gray-900 hover:bg-gray-100 px-4 py-1 text-sm font-semibold shadow-sm border border-gray-400">
    Reviews
  </a>
</div>