<h1>Pre-launch offer: Limited time 30% discount for the first 50 users.</h1>

<p>BuzzwallHQ scrapes social media and finds customer text & video reviews of your product or service.</p>

<h2>Social proof from genuine reviews.</h2>

<p>BuzzwallHQ, your go-to social proof tool, saves you 50+ hours / mo by finding text and video testimonials of your product or service.</p>

<p>Input your keywords and BuzzwallHQ will collect client reviews across social media platforms.</p>

<h3>All plans are currently 30% off for the first 50 customers</h3>

<ul>
  <li>Good for the individual who is self-employed and just getting started.</li>
  <li>Perfect for startups, small, and medium sized businesses.</li>
  <li>For even the biggest enterprise companies.</li>
</ul>

<h4>FAQs</h4>
<ul>
  <li>Do you have a free trial?</li>
  <li>Do you offer refunds?</li>
  <li>What happens if I max out my reviews?</li>
  <li>Do credit packs expire?</li>
  <li>Are there really no subscriptions?</li>
  <li>When will I start seeing reviews appear?</li>
  <li>Can you explain the "X approved reviews"?</li>
  <li>What are keywords tracked?</li>
  <li>What is the 30% lifetime discount?</li>
  <li>Why don't I have access immediately?</li>
</ul>
